/* This CSS controls the column layout. It is not recommended that you change this file. */

/* ---------- Wrapper ---------- */

#content-wrapper #layout-grid {
}

#layout-grid .lfr-column {
}

/* ---------- Column widths ---------- */

.lfr-column.dragging {
}

.lfr-column.ten {
}

.lfr-column.twenty {
}

.lfr-column.thirty {
}

.lfr-column.forty {
}

.lfr-column.fifty {
}

.lfr-column.sixty {
}

.lfr-column.seventy {
}

.lfr-column.eighty {
}

.lfr-column.ninety {
}

/* ---------- 1 column ---------- */

.columns-1 #column-1 {
}

/* ---------- 2 columns ---------- */

.columns-2 #column-1 {
}

.columns-2 #column-2 {
}

/* ---------- 3 columns ---------- */

.columns-3 #column-1 {
}

.columns-3 #column-2 {
}

.columns-3 #column-3 {
}

/* ---------- 1/2/1 ---------- */

.columns-1-2-1 #column-1, .columns-1-2-1 #column-4 {
}

.columns-1-2-1 #column-2 {
}

.columns-1-2-1 #column-3 {
}

/* ---------- 2/2 ---------- */

.columns-2-2 #column-1, .columns-2-2 #column-2 {
}

.columns-2-2 #column-4 {
}

/* ---------- Freeform ---------- */

.freeform .lfr-column {
}

.columns-2-2 #column-4 {
}