/* This CSS sets the default styles for the main navigation. */

/* ---------- Main navigation ---------- */

#navigation {
}

#navigation ul {
}

.ie6 #navigation, .ie6 #navigation ul {
}

#navigation li {
}

#navigation li a {
}

#navigation li a:hover {
}

#navigation li a span {
}

#navigation li.selected a {
}

#navigation li.selected a span {
}

#navigation li.selected a:hover {
}

#navigation li a:hover span {
}

#navigation .child-menu {
}

/* ---------- Dock without JavaScript ---------- */

.lfr-dock {
}

.lfr-dock h2 {
}

.lfr-dock ul {
}

.lfr-dock li {
}

.lfr-dock li a {
}

.lfr-dock li.home a {
}

.lfr-dock li.my-account a {
}

.lfr-dock li.sign-in a {
}

.lfr-dock li.sign-out a {
}

.lfr-dock li.add-content a {
}

.lfr-dock li.layout a {
}

.lfr-dock li.page-settings a {
}

.lfr-dock li.my-places a {
}

.lfr-dock li.my-places {
}

/* ---------- Dock with JavaScript ---------- */

.js .lfr-dock.interactive-mode {
}

.js .lfr-dock.interactive-mode h2 {
}

.js .lfr-dock.interactive-mode h2 span {
}

.js .lfr-dock.expanded .lfr-dock-list-container {
}

.js .lfr-dock.interactive-mode ul {
}

.js .lfr-dock.interactive-mode li {
}

.js .lfr-dock.interactive-mode li a {
}

.js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child a, .js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child ul.show-my-places li:first-child a {
}

.js .lfr-dock.interactive-mode li a:hover {
}

.js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child a, .js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child a:hover, .js .lfr-dock.interactive-mode ul.lfr-dock-list li.my-places ul.show-my-places li ul li:first-child a, .js .lfr-dock.interactive-mode ul.lfr-dock-list li.my-places ul.show-my-places li ul li:first-child a:hover {
}

.js .my-places {
}

.js .lfr-dock.interactive-mode li.my-places li a {
}

.js .lfr-dock.interactive-mode li.my-places li ul li.current a, .js .lfr-dock.interactive-mode li.my-places li ul li.current a:hover {
}

.js .interactive-mode .my-places .show-my-places {
}

.js .interactive-mode .my-places.send-right .show-my-places {
}

.js .interactive-mode .my-places.send-down .show-my-places {
}

.js .interactive-mode .my-places .show-my-places li {
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle {
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle h3 {
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle.hide h3 {
}

.js .interactive-mode .my-places .show-my-places li ul {
}

.js .interactive-mode .my-places .show-my-places li ul {
}

.js .interactive-mode .my-places .show-my-places ul li.public a, .js .my-places .show-my-places ul li.public a:hover {
}

.js .interactive-mode .my-places .show-my-places li.private a, .js .my-places .show-my-places li.private a:hover {
}

.ie6.js .lfr-dock.interactive-mode {
}

.ie.js .lfr-dock .my-places .show-my-places h3 {
}

.ie6.js .lfr-dock.expanded.interactive-mode .lfr-dock-list-container {
}

.ie6.js .interactive-mode .my-places .show-my-places {
}

.ie6.js .lfr-dock.interactive-mode li {
}

.ie6.js .lfr-dock.interactive-mode li a {
}

/* ---------- Add/sort/remove page ---------- */

.js #navigation .enter-page {
}

.js #navigation .enter-page.editing {
}

.js #navigation .enter-page a {
}

.js #add-page {
}

.js #add-page a {
}

.js #add-page a span {
}

.js #add-page a:hover span {
}

.js .delete-tab {
}

/*------ Drag/drop menu items ------*/

#navigation ul .sort-helper {
}

/*------ Navigation portlet ------*/

.nav-menu li a.open {
}

.nav-menu li a.selected {
}

.nav-menu li a.open {
}

.nav-menu ul {
}

.nav-menu-style-1 {
}

.nav-menu-style-2 {
}