/* This CSS sets the default styles for tabs. */

.tabs {
}

.tabs li {
}

.tabs li a, .tabs li span {
}

.tabs li.current {
}

.tabs li.current a, .tabs li.current span {
}

.ie .tabs li {
}

.ie .tabs li.current {
}