/* This CSS sets is for Actions menu */

.suckertreemenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.suckertreemenu ul li{
	position: relative;
	display: inline;
	float: left;
	background-color: #F3F3F3; /*overall menu background color*/
}

/*Top level menu link items style*/
.suckertreemenu ul li a{
	display: block;
	width: 80px; /*Width of top level menu link items*/
	padding: 5px 5px;
	border-left-width: 0;
	text-decoration: none;
	color: navy;
	border: 1px solid #ccc;
}

/*1st sub level menu*/
.suckertreemenu ul li ul{
	left: 0;
	position: absolute;
	top: 1em; /* no need to change, as true value set by script */
	display: block;
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul{
	left: 159px; /* no need to change, as true value set by script */
	top: 0;
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a{
	display: block;
	width: 80px; /*width of sub menu levels*/
	color: navy;
	text-decoration: none;
	padding: 3px 5px 3px 20px;
	border: 1px solid #ccc;

}
.ie .suckertreemenu ul li ul li a{
	width: auto; /*width of sub menu levels*/
}

.suckertreemenu ul li a:hover{
	background-color: black;
	color: white;
}

/*Background image for top level menu list links */
.suckertreemenu .mainfoldericon{
	background: #F3F3F3 url(../images/base/more.gif) no-repeat center right;
}

/*Background image for subsequent level menu list links */
.suckertreemenu .subfoldericon{
	background: #F3F3F3 url(media/arrow-right.gif) no-repeat center right;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
	padding-top: 1em;
}

/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
/* End */



/* gi9 load icon if possible */
/*reject icon*/
.suckertreemenu ul li .reject{background: #F3F3F3 url(../images/plum/iconDocumentReject.gif) no-repeat center left; }
.suckertreemenu ul li .reject a:hover{background: #F3F3F3 url(../images/plum/iconDocumentReject.gif) no-repeat center left; background-color:#000000; color:white; }
/*aprove icon*/
.suckertreemenu ul li .aprove{background: #F3F3F3 url(../images/plum/iconDocumentApprove.gif) no-repeat center left; }
.suckertreemenu ul li .aprove a:hover{background: #F3F3F3 url(../images/plum/iconDocumentApprove.gif) no-repeat center left; background-color:#000000; color:white; }
/*edit icon*/
.suckertreemenu ul li .edit{background: #F3F3F3 url(../images/common/edit.png) no-repeat center left; }
.suckertreemenu ul li .edit a:hover{background: #F3F3F3 url(../images/common/edit.png) no-repeat center left; background-color:#000000; color:white; }
/*delete icon*/
.suckertreemenu ul li .delete{background: #F3F3F3 url(../images/common/delete.png) no-repeat center left; }
.suckertreemenu ul li .delete a:hover{background: #F3F3F3 url(../images/common/delete.png) no-repeat center left; background-color:#000000; color:white; }









