/*------ Topic Nav Menu ------*/
#perioxes .treeview ul{ /*CSS for Simple Tree Menu*/
	margin: 0;
	padding: 0;
	font-size:1.0em;
}

#perioxes .treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
	background: transparent url(/html/themes/gi9eshopminimal/javascript/list_2.gif) no-repeat left 1px;
	list-style-type: none;
	padding-left: 20px;
	margin-bottom: 3px;
}

#perioxes .treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
	background: transparent url(/html/themes/gi9eshopminimal/javascript/closed_2.gif) no-repeat left 1px;
	cursor: hand !important;
	cursor: pointer !important;
}


#perioxes .treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
	display: none; /*Hide them by default. Don't delete. */
}

#perioxes .treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
	cursor: default;
}

#perioxes .treeview li.openfolder ul{ /*Style for ULs that are children of LIs (submenu) */
	overflow:visible;
}

#perioxes .treeview li.selected { font-size:1.0em; font-weight:bold; }
#perioxes .treeview li.selected a{ color:#e87c11; }



/*------ Topic Nav Menu ------*/
#thematikes-top {	
	height:15px;
}
#thematikes-bottom {
	height:15px; 
	margin-top:-3px;
}
.ie6 #thematikes-bottom { margin-left:-5px;
}

#thematikes { 
	background-color:#E6E6E6 ; 
	padding:0;
	margin:0;
	padding:10px 4px;
	border:1px solid #D7D7D7;

}

.ie #thematikes {	margin-left:0px; margin-right:0px; }
.ie6 #thematikes {	margin-left:4px; margin-right:9px; }
.safari #thematikes {margin-left:7px;}

#thematikes .treeview ul{ /*CSS for Simple Tree Menu*/
	margin: 0;
	padding: 0;
/*	font-size:1.0em;*/
}

#thematikes .treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
	background: transparent url(/html/themes/gi9eshopminimal/javascript/list_1.gif) no-repeat left 1px;
	list-style-type: none;
	padding-bottom:3px;
	padding-left: 16px;
	margin-bottom: 7px;
	borderm:0px solid #CCCCCC;

}

#thematikes .treeview li a {
	font-size:1.2em; 
	font-weight:normal; 

	text-decoration:none; 
}
#thematikes .treeview li a:hover { text-decoration:underline;}

#thematikes .treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
	background: transparent url(/html/themes/gi9eshopminimal/javascript/closed_1.gif) no-repeat left 1px;
	cursor: hand !important;
	cursor: pointer !important;
}


#thematikes .treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
	display: none; /*Hide them by default. Don't delete. */
}

#thematikes .treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
	cursor: default;
	border-bottom:0px solid #CCCCCC;
/*	background-color:#FFF;*/
}
#thematikes .treeview .submenu ul{
	border:0px solid #CCCCCC;
	padding-top:5px;
}
#thematikes .treeview li.openfolder ul{ /*Style for ULs that are children of LIs (submenu) */
	overflow:visible;
}

#thematikes .treeview li.selected { }
#thematikes .treeview li.selected a { color:#333; font-weight:bold;  }

#thematikes .treeview .submenu ul li a {  }