
<table>
  <tr>
    <td >$processor.processColumn("column-1")</td>
    <td >
      <table>
        <tr>
          <td >$processor.processColumn("column-2")</td>
        </tr>
        <tr>
          <td ><table>
              <tr>
                <td>$processor.processColumn("column-3")</td>
                <td>$processor.processColumn("column-4")</td>
              </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
</table>

