<div class="columns-2" id="content-wrapper">
	<table cellpadding="0" cellspacing="0" id="layout-grid">
<tr>
		<td colspan="2" valign="top" class="lfr-column seventy" id="column-1">$processor.processColumn("column-1")</td>
		<td rowspan="2" valign="top" class="lfr-column thirty" id="column-2">$processor.processColumn("column-2")</td>
	</tr>
	<tr>
	  <td class="lfr-column fifty" id="column-3" valign="top">$processor.processColumn("column-3")</td>
	  <td class="lfr-column fifty" id="column-4" valign="top">$processor.processColumn("column-4")</td>
	  </tr>
  </table>
</div>