<div id="layout-content-outer-decoration">
	<div id="layout-content-inner-decoration">
		<div id="layout-content-container">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td valign="top" width="25%" >
					$processor.processColumn("column-1")
				</td>
				<td class="layout-column-spacer" width="1%" >
					<div>&nbsp;</div>
				</td>
				<td valign="top" width="64%">
					$processor.processColumn("column-2")
				</td>
				<td class="layout-column-spacer" width="1%">
					<div>&nbsp;</div>
				</td>
				<td valign="top" width="9%" class="rightcolbg">
					$processor.processColumn("column-3")
				</td>
			</tr>
			</table>
		</div>
	</div>
</div>