<div class="columns-3" id="content-wrapper">
	<table id="layout-grid">
	<tr>
		<td class="lfr-column thirty" id="column-1" valign="top">
			$processor.processColumn("column-1")
		</td>
		<td class="lfr-column thirty" id="column-2" valign="top">
			$processor.processColumn("column-2")
		</td>
		<td class="lfr-column thirty" id="column-3" valign="top">
			$processor.processColumn("column-3")
		</td>
	</tr>
	</table>
</div>