<div class="columns-2" id="content-wrapper">
	<table id="layout-grid">
	<tr>
		<td class="lfr-column thirty" id="column-1" valign="top">
			$processor.processColumn("column-1")
		</td>
		<td class="lfr-column seventy" id="column-2" valign="top">
			$processor.processMax()
		</td>
	</tr>
	</table>
</div>