<%
/**
 * Copyright (c) 2000-2007 Liferay, Inc. All rights reserved.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
%>

<%
boolean showAddEntryButton = tabs1.equals("entries") && PortletPermissionUtil.contains(permissionChecker, plid.longValue(), PortletKeys.BLOGS, ActionKeys.ADD_ENTRY);
%>

<c:if test="<%= showAddEntryButton || (results.size() > 0) %>">
	<div>
		<c:if test="<%= results.size() > 0 %>">
			<label for="<portlet:namespace />keywords"><liferay-ui:message key="search" /></label>

			<input id="<portlet:namespace />keywords" name="<portlet:namespace />keywords" size="30" type="text" />

			<input type="submit" value="<liferay-ui:message key="search-entries" />" />
		</c:if>

		<c:if test="<%= showAddEntryButton %>">
			<input type="button" value="<liferay-ui:message key="add-entry" />" onClick="self.location = '<portlet:renderURL windowState="<%= WindowState.MAXIMIZED.toString() %>"><portlet:param name="struts_action" value="/blogs/edit_entry" /><portlet:param name="redirect" value="<%= currentURL %>" /></portlet:renderURL>';" />
		</c:if>
	</div>

	<c:if test="<%= results.size() > 0 %>">
		<br />
	</c:if>
</c:if>

<%
for (int i = 0; i < results.size(); i++) {
	BlogsEntry entry = (BlogsEntry)results.get(i);
%>

	<%@ include file="/html/portlet/blogs/view_entry_content.jspf" %>

	<c:if test="<%= i + 1 < results.size() %>">
		<div class="separator"><!-- --></div>
	</c:if>

<%
}
%>

<liferay-ui:search-paginator searchContainer="<%= searchContainer %>" />