<%
/**
 * Copyright (c) 2000-2007 Liferay, Inc. All rights reserved.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
%>

<style type="text/css">
	.button {
		border-bottom: #E5E4E8 1px solid;
		border-left: #E5E4E8 1px solid;
		border-right: #E5E4E8 1px solid;
		border-top: #E5E4E8 1px solid;
	}

	.button-down {
		border-bottom: 1px solid buttonhighlight;
		border-left: 1px solid buttonshadow;
		border-right: 1px solid buttonhighlight;
		border-top: 1px solid buttonshadow;
	}

	.button-hover {
		border-bottom: 1px solid buttonshadow;
		border-left: 1px solid buttonhighlight;
		border-right: 1px solid buttonshadow;
		border-top: 1px solid buttonhighlight;
	}

	.separator {
		border-bottom: 1px solid buttonhighlight;
		border-left: 1px solid buttonshadow;
		border-right: 1px solid buttonhighlight;
		border-top: 1px solid buttonshadow;
		font-size: 12px;
		width: 2px;
	}
</style>

<script type="text/javascript">
	function <portlet:namespace />buttonDown(button) {
		button.className = "button-down";
	}

	function <portlet:namespace />buttonOut(button) {
		button.className = "button";
	}

	function <portlet:namespace />buttonOver(button) {
		button.className = "button-hover";
	}

	function <portlet:namespace />getHTML() {
		return document.getElementById("textArea").value;
	}

	function <portlet:namespace />setHTML(value) {
		document.getElementById("textArea").value = value;
	}

	function <portlet:namespace />initEditor() {
		<c:choose>
			<c:when test="<%= quote && Validator.isNull(body) && (curParentMessage != null) %>">
				var respondee = "<%= UnicodeFormatter.toString(parentAuthor) %>";
				var quote = "<%= UnicodeFormatter.toString(curParentMessage.getBody(false)) %>";

				<portlet:namespace />insertTag("quote", respondee, quote);
			</c:when>
			<c:otherwise>
				<portlet:namespace />setHTML("<%= UnicodeFormatter.toString(GetterUtil.getString(body)) %>");
			</c:otherwise>
		</c:choose>
	}

	function <portlet:namespace />insertColor() {
		var color = document.getElementById("fontColor").value;

		<portlet:namespace />insertTag("color", color);
	}

	function <portlet:namespace />insertEmail() {
		var addy = prompt("<liferay-ui:message key="enter-an-email-address" />:", "");

		if (addy != null && addy != "") {
			var name = prompt("<liferay-ui:message key="enter-a-name-associated-with-the-email" />:", "");

			<portlet:namespace />resetSelection();

			if (name != null && name != "") {
				<portlet:namespace />insertTag("email", addy, name);
			}
			else {
				<portlet:namespace />insertTag("email", null, addy);
			}
		}
	}

	function <portlet:namespace />insertEmoticon(emoticon) {
		var field = document.getElementById("textArea");

		if (Liferay.Browser.is_ie) {
			field.focus();

			var sel = document.selection.createRange();

			sel.text = emoticon;
		}
		else if (field.selectionStart || field.selectionStart == "0") {
			var startPos = field.selectionStart;
			var endPos = field.selectionEnd;

			var preSel = field.value.substring(0, startPos);
			var postSel = field.value.substring(endPos, field.value.length);

			field.value = preSel + emoticon + postSel;
		}
		else {
			field.value += emoticon;
		}
	}

	function <portlet:namespace />insertImage() {
		var url = prompt("<liferay-ui:message key="enter-a-address-for-a-picture" />:", "http://");

		if (url != null && url != "") {
			<portlet:namespace />resetSelection();
			<portlet:namespace />insertTag('img', null, url);
		}
	}

	function <portlet:namespace />insertList(ordered) {
		var list = "\n";
		var entry;

		while (entry = prompt("<liferay-ui:message key="enter-a-list-item-click-cancel-or-leave-blank-to-end-the-list" />", "")) {
			if (entry == null || entry == "") {
				break;
			}

			list += '[*]' + entry + '\n';
		}

		if (list != "\n") {
			<portlet:namespace />resetSelection();
			<portlet:namespace />insertTag("list", ordered, list);
		}
	}

	function <portlet:namespace />insertUrl() {
		var url = prompt("<liferay-ui:message key="enter-a-address" />:", "http://");

		if (url != null) {
			var title = prompt("<liferay-ui:message key="enter-a-title-for-the-link" />:");

			if (title != null && title != "") {
				<portlet:namespace />resetSelection();
				<portlet:namespace />insertTag("url", url, title);
			}
			else {
				<portlet:namespace />insertTag("url", url);
			}
		}
	}

	function <portlet:namespace />insertTag(tag, param, content) {
		var begTag;

		if (param != null) {
			begTag = "[" + tag + "=" + param + "]";
		}
		else {
			begTag = "[" + tag + "]";
		}

		var endTag = "[/" + tag + "]";

		var field = document.getElementById("textArea");

		if (Liferay.Browser.is_ie) {
			field.focus();

			var sel = document.selection.createRange();

			if (content != null) {
				sel.text = begTag + content + endTag;
			}
			else {
				sel.text = begTag + sel.text + endTag;
			}
		}
		else if (field.selectionStart || field.selectionStart == "0") {
			var startPos = field.selectionStart;
			var endPos = field.selectionEnd;

			var preSel = field.value.substring(0, startPos);
			var sel = field.value.substring(startPos, endPos);
			var postSel = field.value.substring(endPos, field.value.length);

			if (content != null) {
				field.value = preSel + begTag + content + endTag + postSel;
			}
			else {
				field.value = preSel + begTag + sel + endTag + postSel;
			}
		}
		else {
			field.value += begTag + content + endTag;
		}
	}

	function <portlet:namespace />resetSelection() {
		var field = document.getElementById("textArea");

		if (Liferay.Browser.is_ie) {
			field.focus();

			var sel = document.selection.createRange();

			sel.collapse(false);
			sel.select();
		}
		else if (field.selectionStart) {
			field.selectionEnd = field.selectionStart;
		}
	}

	jQuery(
		function() {
			var colorPicker = new Liferay.ColorPicker(
				{
					hasImage: true,
					onClose: <portlet:namespace />insertColor
				}
			);
		}
	);
</script>

<table border="0" cellpadding="0" cellspacing="0" height="400px" width="100%">
<tr>
	<td>
		<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
		<tr>
			<td>
				<table bgcolor="#E5E4E8" cellpadding="1" cellspacing="0">
				<tr>
					<td>
					<select onChange="<portlet:namespace />insertTag('font', this[this.selectedIndex].value); this.selectedIndex = 0;">
						<option selected value="Font"><liferay-ui:message key="font" /></option>
						<option value="Arial">Arial</option>
						<option value="Comic Sans MS">Comic Sans MS</option>
						<option value="Courier New">Courier New</option>
						<option value="Tahoma">Tahoma</option>
						<option value="Times New Roman">Times New Roman</option>
						<option value="Verdana">Verdana</option>
						<option value="Wingdings">Wingdings</option>
					</select>
					</td>
					<td>
					<select onChange="<portlet:namespace />insertTag('size', this[this.selectedIndex].value); this.selectedIndex = 0;">
						<option selected value="Size"><liferay-ui:message key="size" /></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
					</select>
					</td>
					<td><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /><span class="separator"></span><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('b');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="bold" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/bold.png" title="<liferay-ui:message key="bold" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('i');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="italic" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/italic.png" title="<liferay-ui:message key="italic" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('u');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="underline" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/underline.png" title="<liferay-ui:message key="underline" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('s');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="striketrough" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/strike.png" title="<liferay-ui:message key="striketrough" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><input type="hidden" id="fontColor" name="fontColor" value="" onchange="" /><img align="absmiddle" alt="<liferay-ui:message key="color" />" border="0" class="use-color-picker" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/color.png" title="<liferay-ui:message key="color" />" vspace="0" width="18" style="cursor: pointer;" /></input></div></td>
					<td><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /><span class="separator"></span><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /></td>
					<td><div class="button" onClick="<portlet:namespace />insertUrl();" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="hyperlink" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/hyperlink.png" title="<liferay-ui:message key="hyperlink" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertEmail();" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="email" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/email.png" title="<liferay-ui:message key="email" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertImage();" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="image" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/image.png" title="<liferay-ui:message key="image" />" vspace="0" width="18" /></div></td>
					<td><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /><span class="separator"></span><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /></td>
					<td><div class="button" onClick="<portlet:namespace />insertList('1');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="ordered-list" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/ordered_list.png" title="<liferay-ui:message key="ordered-list" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertList();" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="unordered-list" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/unordered_list.png" title="<liferay-ui:message key="unordered-list" />" vspace="0" width="18" /></div></td>
					<td><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /><span class="separator"></span><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('left');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="justify-left" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/justify_left.png" title="<liferay-ui:message key="justify-left" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('center');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="justify-center" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/justify_center.png" title="<liferay-ui:message key="justify-center" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('right');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="justify-right" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/justify_right.png" title="<liferay-ui:message key="justify-right" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('indent');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="indent" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/indent.png" title="<liferay-ui:message key="indent" />" vspace="0" width="18" /></div></td>
					<td><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /><span class="separator"></span><img border="0" height="1" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/spacer.png" vspace="0" width="2" /></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('quote');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="quote" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/quote.png" title="<liferay-ui:message key="quote" />" vspace="0" width="18" /></div></td>
					<td><div class="button" onClick="<portlet:namespace />insertTag('code');" onMouseDown="<portlet:namespace />buttonDown(this);" onMouseOut="<portlet:namespace />buttonOut(this);" onMouseOver="<portlet:namespace />buttonOver(this);"><img align="absmiddle" alt="<liferay-ui:message key="code" />" border="0" height="18" hspace="0" src="<%= themeDisplay.getPathThemeImages() %>/message_boards/code.png" title="<liferay-ui:message key="code" />" vspace="0" width="18" /></div></td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#FFFFFF" height="100%">
				<textarea class="liferay-textarea message-edit" id="textArea" name="textArea"></textarea>
			</td>
		</tr>
		</table>
	</td>
	<td>
		<div class="message-board-emoticons">
			<table border="0" cellpadding="2" cellspacing="0">
			<tr>
				<td align="center" bgcolor="#E5E4E8" colspan="4">
					<liferay-ui:message key="clickable-emoticons" />
				</td>
			</tr>

			<%
			String path = themeDisplay.getPathThemeImages() + "/emoticons/";

			for (int i = 0; i < BBCodeUtil.EMOTICONS.length; i++) {
			%>

				<c:if test="<%= (i % 3) == 0 %>">
					<tr>
				</c:if>

				<td align="center"><img src='<%= StringUtil.replace(BBCodeUtil.EMOTICONS[i][0], "@theme_images_path@", themeDisplay.getPathThemeImages()) %>' onClick="<portlet:namespace />insertEmoticon('<%= BBCodeUtil.EMOTICONS[i][1] %>')" /></td>

				<c:if test="<%= (i % 3) == 2 %>">
					</tr>
				</c:if>

			<%
			}
			%>

			</table>
		</div>
	</td>
</tr>
</table>

<script type="text/javascript">
	<portlet:namespace />initEditor();
</script>