/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import url(color_schemes/green.css);

@import url(color_schemes/orange.css);


/*bglines gia to title data*/
.bglines { background-color:#e0e1e1; border:1px solid #d2d2d2; margin-bottom:10px; }
.bglines td { padding:5px; }
.bglines .title_left { font-weight:bold; width:200px; text-align:right;}
.bglines .title_right { font-weight:normal; width:auto; text-align:left;}