#*
/**
 * Copyright (c) 2000-2006 Liferay, Inc. All rights reserved.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
*#

#parse("$fullTemplatesPath/portal_init.vm")

<html dir="$languageUtil.get($pageContext, "lang.dir")">

<head>
	<title>$company.getName() - $tilesTitle</title>
	$taglibLiferay.include("/html/common/themes/top_head.jsp")
</head>

<body id="body-bg">

$taglibLiferay.include("/html/common/themes/top_messages.jsp")

#parse("$fullTemplatesPath/top.vm")

#parse("$fullTemplatesPath/navigation.vm")

#if ($tilesSelectable.equals("true"))
	$taglibLiferay.include("/html$tilesContent")
#else
	$portletDisplay.recycle()
	$portletDisplay.setTitle($tilesTitle)

	#parse("$fullTemplatesPath/portlet_top.vm")

	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center">
			$taglibLiferay.include("/html$tilesContent")
		</td>
	</tr>
	</table>

	#parse("$fullTemplatesPath/portlet_bottom.vm")
#end

#parse("$fullTemplatesPath/bottom.vm")

$taglibLiferay.include("/html/common/themes/bottom-ext.jsp")
$taglibLiferay.include("/html/common/themes/session_timeout.jsp")

</body>

</html>
